@charset "UTF-8";

@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Bold.woff") format("woff"), url("../fonts/Mulish-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MarcellusSC";
  font-display: swap;
  src: url("../fonts/MarcellusSC-Regular.woff") format("woff"), url("../fonts/MarcellusSC-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-ExtraBold.woff") format("woff"), url("../fonts/Mulish-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Light.woff") format("woff"), url("../fonts/Mulish-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-Regular.woff") format("woff"), url("../fonts/Mulish-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("../fonts/Mulish-SemiBold.woff") format("woff"), url("../fonts/Mulish-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-rating:before {
  content: "\e900";
  color: #aa3943;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 18px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Mulish";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Mulish";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #000;
  line-height: 20px;
  color: #fff;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

a {
  font-family: "Mulish";
}

.header {
  padding: 20px 0px 20px 20px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 192px;
  height: 79px;
}

.menu__body {
  margin-top: 20px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu__link {
  font-weight: 700;
  opacity: 0.5;
  font-size: 18px;
  margin-right: 45px;
  color: #fff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.menu__link:hover {
  opacity: 1;
}

.menu__link._last {
  margin-right: 0;
}

.menu__link._active {
  font-weight: 800;
  opacity: 1;
  padding-bottom: 5px;
  position: relative;
}

.menu__link._active::after {
  content: '';
  display: block;
  width: 100%;
  left: 0;
  margin-top: 5px;
  position: absolute;
  height: 2px;
  background: -o-linear-gradient(133.47deg, #FB1313 13.2%, #FF32AD 71.54%);
  background: linear-gradient(316.53deg, #FB1313 13.2%, #FF32AD 71.54%);
}

.menu-auth__body {
  margin-top: 20px;
}

.menu-auth__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu-auth__link {
  font-weight: 700;
  opacity: 0.5;
  font-size: 18px;
  margin-right: 20px;
  color: #fff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  margin-right: 20px;
}

.menu-auth__link:hover {
  opacity: 1;
}

.menu-auth__link._last {
  margin-right: 0;
}

.header__film {
  position: relative;
  overflow: hidden;
}

.header__film-banner {
  position: absolute;
  z-index: -1;
  opacity: 0.7;
  right: 0;
}

.film {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000;
  max-width: 650px;
  -webkit-box-shadow: 100px 0px 100px #000000;
          box-shadow: 100px 0px 100px #000000;
  padding-top: 105px;
  padding-bottom: 203px;
}

.film__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.film__title {
  font-family: "MarcellusSC";
  line-height: 70px;
  font-size: 80px;
  margin-bottom: 42px;
  line-height: 70px;
}

.film__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.film__year {
  font-size: 18px;
  margin-right: 24px;
  font-weight: 800;
}

.film__age {
  font-size: 18px;
  font-weight: 800;
  position: relative;
  margin-right: 24px;
}

.film__age::before {
  content: '';
  position: absolute;
  display: block;
  left: -14px;
  width: 60px;
  height: 24px;
  top: -2px;
  top: -2px;
  border: 1.5px solid;
  border-color: #fb1313;
  border-radius: 50px;
}

.film__time {
  font-size: 18px;
  font-weight: 800;
  margin-right: 24px;
}

.film__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.film__rating-count {
  font-size: 18px;
  font-weight: 800;
  margin-right: 24px;
}

.film__description {
  font-size: 18px;
  color: #C2C2C2;
  line-height: 1.6;
}

.film__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 27px;
}

.film__watch a {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  margin-right: 30px;
  color: #fff;
  padding-top: 14px;
  padding-right: 38px;
  padding-bottom: 14px;
  padding-left: 38px;
  font-size: 18px;
  background: #EB5757;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border-radius: 10rem;
}

.film__watch a:hover {
  font-weight: 800;
  -webkit-box-shadow: 0px 4px 20px rgba(255, 50, 99, 0.5);
          box-shadow: 0px 4px 20px rgba(255, 50, 99, 0.5);
}

.film__more a {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  color: #000;
  padding-top: 14px;
  padding-right: 59px;
  padding-bottom: 14px;
  padding-left: 58px;
  font-size: 18px;
  padding: 15px 59px 15px 58px;
  background: #FFFFFF;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border-radius: 10rem;
}

.film__more a:hover {
  -webkit-box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5);
  font-weight: 800;
}

.icon-menu {
  display: none;
}

footer {
  padding-bottom: 30px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  margin-right: 80px;
  height: calc(43px + 36 * ((100vw - 320px)/ 1150));
  width: calc(100px + 92 * ((100vw - 320px)/ 1150));
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #c2c2c2;
}

.footer__menu-item {
  line-height: 2;
  padding-right: 105px;
  position: relative;
}

.footer__menu-item:last-child {
  padding-right: 0;
}

.footer__menu-subitem {
  font-size: calc(15px + (18 - 15) * ((100vw - 768px) / (1470 - 768)));
  line-height: 2;
}

.footer__menu-title {
  font-size: calc(15px + (18 - 15) * ((100vw - 768px) / (1470 - 768)));
  font-weight: 600;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 60px;
}

.block-serials__title {
  font-size: 28px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 20px;
  position: relative;
}

.block-serials__title::before {
  position: absolute;
  content: '';
  background: -o-linear-gradient(133.47deg, #FB1313 13.2%, #FF32AD 71.54%);
  background: linear-gradient(316.53deg, #FB1313 13.2%, #FF32AD 71.54%);
  border-radius: 50px;
  width: 8px;
  height: 35px;
  left: 0;
  top: calc(50% - 14px);
}

.serials__items {
  margin-top: 40px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.serials__item {
  width: 206px;
  height: 309px;
  border-radius: 20px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.serials__item img {
  border-radius: 20px;
}

.serials__item:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 50, 99, 0.5);
          box-shadow: 0px 0px 20px 0px rgba(255, 50, 99, 0.5);
}

.block-films__title {
  font-size: 28px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 20px;
  position: relative;
}

.block-films__title::before {
  position: absolute;
  content: '';
  background: -o-linear-gradient(133.47deg, #FB1313 13.2%, #FF32AD 71.54%);
  background: linear-gradient(316.53deg, #FB1313 13.2%, #FF32AD 71.54%);
  border-radius: 50px;
  width: 8px;
  height: 35px;
  left: 0;
  top: calc(50% - 14px);
}

.films__items {
  margin-top: 40px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.films__item {
  width: 206px;
  height: 309px;
  border-radius: 20px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.films__item img {
  border-radius: 20px;
}

.films__item:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 50, 99, 0.5);
          box-shadow: 0px 0px 20px 0px rgba(255, 50, 99, 0.5);
}

.films__btn-more {
  padding-bottom: 130px;
}

.films__btn-more a {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  padding-top: 14px;
  padding-right: 38px;
  padding-bottom: 14px;
  padding-left: 38px;
  font-size: 18px;
  color: #fff;
  padding: 14px 38px 16px 38px;
  background: #EB5757;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border-radius: 10rem;
}

.films__btn-more a:hover {
  font-weight: 800;
  -webkit-box-shadow: 0px 4px 20px rgba(255, 50, 99, 0.5);
          box-shadow: 0px 4px 20px rgba(255, 50, 99, 0.5);
}

.block-actors__title {
  font-size: 28px;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 20px;
  position: relative;
}

.block-actors__title::before {
  position: absolute;
  content: '';
  background: -o-linear-gradient(133.47deg, #FB1313 13.2%, #FF32AD 71.54%);
  background: linear-gradient(316.53deg, #FB1313 13.2%, #FF32AD 71.54%);
  border-radius: 50px;
  width: 8px;
  height: 35px;
  left: 0;
  top: calc(50% - 14px);
}

.actors_name {
  padding-top: 20px;
  padding-bottom: 240px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.actors__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}

.actors__image {
  width: 190px;
  height: 190px;
  border-radius: 50%;
}

.actors__image img {
  border-radius: 50%;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1470px) {
  .header__logo {
    width: calc(100px + 92 * ((100vw - 320px) / 1150));
  }

  .header__logo {
    height: calc(43px + 36 * ((100vw - 320px) / 1150));
  }

  .menu__link {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1150));
  }

  .menu__link {
    margin-right: calc(20px + 25 * ((100vw - 320px) / 1150));
  }

  .menu-auth__link {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1150));
  }

  .menu-auth__link {
    margin-right: calc(15px + 5 * ((100vw - 320px) / 1150));
  }

  .film__title {
    line-height: calc(50px + 20 * ((100vw - 320px) / 1150));
  }

  .film__title {
    font-size: calc(40px + 40 * ((100vw - 320px) / 1150));
  }

  .film__year {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1150));
  }

  .film__age {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1150));
  }

  .film__age::before {
    width: calc(50px + 10 * ((100vw - 320px) / 1150));
  }

  .film__age::before {
    height: calc(18px + 6 * ((100vw - 320px) / 1150));
  }

  .film__age::before {
    top: calc(0px + -2 * ((100vw - 320px) / 1150));
  }

  .film__time {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1150));
  }

  .film__rating-count {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1150));
  }

  .film__description {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1150));
  }

  .film__watch a {
    margin-right: calc(20px + 10 * ((100vw - 320px) / 1150));
  }

  .film__watch a {
    padding-top: calc(8px + 6 * ((100vw - 320px) / 1150));
  }

  .film__watch a {
    padding-right: calc(22px + 16 * ((100vw - 320px) / 1150));
  }

  .film__watch a {
    padding-bottom: calc(8px + 6 * ((100vw - 320px) / 1150));
  }

  .film__watch a {
    padding-left: calc(22px + 16 * ((100vw - 320px) / 1150));
  }

  .film__watch a {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1150));
  }

  .film__more a {
    padding-top: calc(8px + 6 * ((100vw - 320px) / 1150));
  }

  .film__more a {
    padding-right: calc(35px + 24 * ((100vw - 320px) / 1150));
  }

  .film__more a {
    padding-bottom: calc(8px + 6 * ((100vw - 320px) / 1150));
  }

  .film__more a {
    padding-left: calc(35px + 23 * ((100vw - 320px) / 1150));
  }

  .film__more a {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1150));
  }

  .block-serials__title {
    font-size: calc(18px + 10 * ((100vw - 320px) / 1150));
  }

  .block-serials__title::before {
    width: calc(6px + 2 * ((100vw - 320px) / 1150));
  }

  .block-serials__title::before {
    height: calc(30px + 5 * ((100vw - 320px) / 1150));
  }

  .serials__items {
    padding-bottom: calc(40px + 20 * ((100vw - 320px) / 1150));
  }

  .serials .serials__item {
    width: calc(110px + (206 - 110) * ((100vw - 768px) / (1470 - 768)));
    height: calc(150px + (309 - 150) * ((100vw - 768px) / (1470 - 768)));
  }

  .block-films__title {
    font-size: calc(18px + 10 * ((100vw - 320px) / 1150));
  }

  .block-films__title::before {
    width: calc(6px + 2 * ((100vw - 320px) / 1150));
  }

  .block-films__title::before {
    height: calc(30px + 5 * ((100vw - 320px) / 1150));
  }

  .films__items {
    padding-bottom: calc(40px + 20 * ((100vw - 320px) / 1150));
  }

  .films__btn-more {
    padding-bottom: calc(70px + 60 * ((100vw - 320px) / 1150));
  }

  .films__btn-more a {
    padding-top: calc(10px + 4 * ((100vw - 320px) / 1150));
  }

  .films__btn-more a {
    padding-right: calc(25px + 13 * ((100vw - 320px) / 1150));
  }

  .films__btn-more a {
    padding-bottom: calc(10px + 4 * ((100vw - 320px) / 1150));
  }

  .films__btn-more a {
    padding-left: calc(25px + 13 * ((100vw - 320px) / 1150));
  }

  .films__btn-more a {
    font-size: calc(15px + 3 * ((100vw - 320px) / 1150));
  }

  .films .films__item {
    width: calc(110px + (206 - 110) * ((100vw - 768px) / (1470 - 768)));
    height: calc(150px + (309 - 150) * ((100vw - 768px) / (1470 - 768)));
  }

  .block-actors__title {
    font-size: calc(18px + 10 * ((100vw - 320px) / 1150));
  }

  .block-actors__title::before {
    width: calc(6px + 2 * ((100vw - 320px) / 1150));
  }

  .block-actors__title::before {
    height: calc(30px + 5 * ((100vw - 320px) / 1150));
  }

  .actors_name {
    padding-top: calc(7px + 13 * ((100vw - 320px) / 1150));
  }

  .actors_name {
    padding-bottom: calc(100px + 140 * ((100vw - 320px) / 1150));
  }

  .actors .actors__image {
    width: calc(110px + (190 - 110) * ((100vw - 768px) / (1470 - 768)));
    height: calc(110px + (190 - 110) * ((100vw - 768px) / (1470 - 768)));
  }

  .actors .actors_name {
    font-size: calc(13px + (18 - 13) * ((100vw - 768px) / (1470 - 768)));
  }
}

@media (max-width: 1050px) {
  .header {
    padding: 10px 0 10px 0;
  }

  .header__film-banner {
    opacity: .2;
    min-width: 100%;
    min-height: 100vh;
    z-index: 100;
  }

  .film__info {
    z-index: 101;
  }

  .film__description {
    overflow-wrap: anywhere;
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 1000;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .menu-auth__body,
  .menu__body {
    display: none;
  }

  header.on {
    padding: 20px 0 20px 20px;
  }

  .menu__body._active,
  .menu-auth__body._active {
    display: block;
    position: absolute;
    left: 0;
    z-index: 600;
    top: 0;
    background-color: #000;
    width: 100%;
    height: 100vh;
  }

  .menu-auth__list.on,
  .menu__list.on {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__logo {
    margin-top: 30px;
    margin-right: 0;
  }

  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__menu-item {
    border-bottom: 2px solid #333;
  }

  .footer__menu-item::after {
    content: '';
    background: url("../img/arrow-down.svg") no-repeat center;
    width: 40px;
    right: 0;
    top: 0;
    position: absolute;
    height: 40px;
  }

  .footer__menu-subitems {
    display: none;
  }

  .serials .serials__items {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .serials .serials__item {
    width: calc(200px + (250 - 200) * ((100vw - 320px) / (768 - 320)));
    height: calc(200px + (350 - 200) * ((100vw - 320px) / (768 - 320)));
    margin-right: calc(10px + (30 - 10) * ((100vw - 320px) / (768 - 320)));
  }

  .serials .serials__item:not(.not) {
    display: none;
  }

  .films .films__items {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .films .films__item {
    width: calc(200px + (250 - 200) * ((100vw - 320px) / (768 - 320)));
    height: calc(200px + (350 - 200) * ((100vw - 320px) / (768 - 320)));
    margin-right: calc(10px + (30 - 10) * ((100vw - 320px) / (768 - 320)));
  }

  .films .films__item:not(.not) {
    display: none;
  }

  .actors .actors__items {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .actors .actors__item {
    margin-right: calc(10px + (30 - 10) * ((100vw - 320px) / (768 - 320)));
  }

  .actors .actors__image {
    width: calc(130px + (250 - 130) * ((100vw - 320px) / (768 - 320)));
    height: calc(130px + (250 - 130) * ((100vw - 320px) / (768 - 320)));
  }

  .actors .actors__item:not(.not) {
    display: none;
  }
}

@media (max-width: 767.98px) and (max-width: 1470px) {
  .icon-menu {
    top: calc(14px + 16 * ((100vw - 320px) / 1150));
  }

  .icon-menu {
    right: calc(10px + 20 * ((100vw - 320px) / 1150));
  }

  .icon-menu {
    height: calc(25px + 5 * ((100vw - 320px) / 1150));
  }
}